body[data-page-type='home'] {
  .centered-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .intro {
    min-width: 1000px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--white);

    .avatar {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      border: 4px solid var(--white);
    }

    .name,
    .job,
    .bio {
      text-align: center;
    }

    .name {
      margin-bottom: 0.25rem;
    }

    .job {
      margin-bottom: 1rem;
    }

    .bio {
      margin: 0 auto 2rem auto;
      max-width: 500px;
      line-height: 1.5;
    }

    .nav {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .button {
        margin-right: 1rem;
      }

      .button:last-of-type {
        margin-right: 0;
      }
    }
  }

  .social-links {
    list-style: none;
  }

  .social-link {
    display: inline-block;
    width: auto;
    height: auto;

    .svg-icon {
      $padding: 0.5rem;

      width: calc(#{$padding} * 2 + 16px);
      height: calc(#{$padding} * 2 + 16px);
      padding: $padding;
      stroke: var(--white);
      fill: var(--white);

      &:hover {
        opacity: 0.5;
        transition: opacity 0.5s ease;
      }
    }
  }
}
