.site-footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--white);
  background-color: var(--grey);

  .heading {
    line-height: 1.5;
  }

  .slogan {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .copyright {
    margin-top: 1rem;
    font-size: 0.65rem;
  }

  @media (max-width: 600px) {
    .heading {
      font-size: 1rem;
    }

    .slogan {
      font-size: 0.75rem;
      line-height: 1.2;
    }
  }
}
