body[data-page-type='home'] {
  .centered-container {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .intro {
    width: 1000px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--white);

    .avatar {
      display: block;
      margin: 0 auto;
      border-radius: 100%;
      border: 4px solid var(--white);
    }

    .name,
    .job,
    .bio {
      text-align: center;
    }

    .name {
      margin-bottom: 0.25rem;
    }

    .job {
      margin-bottom: 1rem;
    }

    .bio {
      margin: 0 auto 2rem auto;
      max-width: 500px;
      line-height: 1.5;
    }

    .nav {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      .button {
        margin-right: 1rem;
      }

      .button:last-of-type {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1000px) {
    .centered-container {
      padding: 0.5rem
    }

    .intro {
      width: auto;
    }
  }

  @media (max-width: 768px) {
    .intro {
      .name {
        font-size: 1.5rem;
      }

      .job {
        font-size: 1.2rem;
      }

      .bio,
      .nav {
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 500px) {
    .centered-container {
      padding: 1rem
    }
    .intro {
      .avatar {
        height: 100px;
      }

      .nav {
        display: block;

        .button {
          display: block;
          width: 100%;
          margin: 0 0 1rem 0;
        }
      }
    }
  }
}
