<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body data-page-type="home">

<main class="container centered-container">
    <div class="intro">
        <img class="avatar" src="{{ site.author_data.avatar | relative_url }}" alt="Avatar"/>
        <h1 class="name">{{ site.author_data.name }}</h1>
        <h2 class="job">{{ site.author_data.job }}</h2>
        <p class="bio">{{ site.author_data.bio }}</p>

        <div class="nav">
            <a class="button hollow" href="/about">About</a>
            <a class="button hollow" href="mailto:{{ site.email }}?subject=Site Enquiry">Contact</a>
        </div>
    </div>

    <ul class="social-links">
        {%- if site.author_data.github_username -%}
        <li class="social-link">
            <a href="https://github.com/{{ site.author_data.github_username| cgi_escape | escape }}" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="{{ '/assets/images/minima-social-icons.svg#github' | relative_url }}"></use>
                </svg>
            </a>
        </li>
        {%- endif -%}
        {%- if site.author_data.linkedin_username -%}
        <li class="social-link">
            <a href="https://linkedin.com/in/{{ site.author_data.linkedin_username| cgi_escape | escape }}" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="{{ '/assets/images/minima-social-icons.svg#linkedin' | relative_url }}"></use>
                </svg>
            </a>
        </li>
        {%- endif -%}
        {%- if site.author_data.facebook_username -%}
        <li class="social-link">
            <a href="https://facebook.com/{{ site.author_data.facebook_username| cgi_escape | escape }}" target="_blank">
                <svg class="svg-icon">
                    <use xlink:href="{{ '/assets/images/minima-social-icons.svg#facebook' | relative_url }}"></use>
                </svg>
            </a>
        </li>
        {%- endif -%}
    </ul>
</main>

</body>
</html>
