<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body data-page-type="home">

<main class="container centered-container">
    <div class="intro">
        <img class="avatar" src="{{ site.author_data.avatar | relative_url }}" alt="Avatar"/>
        <h1 class="name">{{ site.author_data.name }}</h1>
        <h2 class="job">{{ site.author_data.job }}</h2>
        <p class="bio">{{ site.author_data.bio }}</p>

        <div class="nav">
            <a class="button hollow" href="/about">About</a>
            <a class="button hollow" href="mailto:{{ site.email }}?subject=Site Enquiry">Contact</a>
        </div>
    </div>

    {%- include social.html -%}
</main>

</body>
</html>
